body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
   
   margin-top: 200px;
   align-items: center;
   text-align: center;
}

.btn {
     color: white;
     background-color: rgb(67, 225, 99);
     border: none;
    border-radius: 10px;
     width: 200px;
     height: 60px;
     font-size: 20px;
     text-align: center;
     margin-right: 20px;
}